<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-question1></app-question1>
  <app-question2></app-question2>
  <app-question3></app-question3>
  <custom-directive></custom-directive>
  <div class = "custom-directive"></div>
  <div custom-directive></div>
  <app-question4></app-question4>
  <app-question5></app-question5>
  <app-question6></app-question6>
  <app-question7></app-question7>
</body>
</html>